<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <meta name="description" content="WarrenWorkshop2016 : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css"> 
 
     <div id="header">
        <div id="page-title">
         <h2>Warren Workshop VI  2016<h2>
        </div>
        <div id="global-nav">
                <ul>
                    <li><a href="http://yamazakim.github.io/WarrenWorkshop2016/">HOME</a></li>
                    <li><a href="http://yamazakim.github.io/WarrenWorkshop2016/location">LOCATION</a></li>
                    <li><a href="http://yamazakim.github.io/WarrenWorkshop2016/program">PROGRAM</a></li>
                    <li><a href="http://yamazakim.github.io/WarrenWorkshop2016/registration">REGISTRATION</a></li>
                    <li><a href="http://yamazakim.github.io/WarrenWorkshop2016/contacts">CONTACTS</a></li>
                </ul>
        </div>
      </div>
    </head>
        
