<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="chrome=1">
   <meta name="description" content="WarrenWorkshop2016 : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css"> 
 
     <div id="header">
        <div id="page-title">
         <title>{{page.title}}</title>
        </div>
        <div id="global-nav">
                <ul>
                    <li><a href="http://disqus.com/about/">Home</a></li>
                    <li><a href="http://blog.disqus.com/">LOCATION</a></li>
                    <li><a href="http://docs.disqus.com/">PROGRAM</a></li>
                    <li><a href="http://blog.disqus.com/">REGISTRATION</a></li>
                    <li><a href="http://blog.disqus.com/">CONTACTS</a></li>
                </ul>
        </div>
      </div>
    </head>
        
