
  <nav class="globalNav">       
       <div id="globalNav_inner clearfix">
            <ul class="globalNav_ul">
               <li class="globalNavItem">
                 <div class="globalNavItem_group">
                    <a class=globalNavItem_btn href="http://yamazakim.github.io/WarrenWorkshop2016/">
                      <span class="globalNavItem_text">HOME</span>
                    </a>
                 </div>
                </li>
        
               <li class="globalNavItem>
                  <div class="globalNavItem_group">
                    <a class=globalNavItem_btn href="http://yamazakim.github.io/WarrenWorkshop2016/location">
                      <span class="globalNavItem_text">LOCATION</span>
                    </a>
                  </div>
               </li>
               
               <li class="globalNavItem">
                 <div class="globalNavItem_group">
                   <a class=globalNavItem_btn href="http://yamazakim.github.io/WarrenWorkshop2016/program">
                     <span class="globalNavItem_text">PROGRAM</span>
                  </a>
                 </div>
               </li>
               
               <li class="globalNavItem">
                 <div class="globalNavItem_group">
                  <a class=globalNavItem_btn href="http://yamazakim.github.io/WarrenWorkshop2016/registration">
                    <span class="globalNavItem_text">REGISTRATION</span>
                  </a>
                 </div>
               </li>
               
               <li class="globalNavItem">
                 <div class="globalNavItem_group">
                  <a class=globalNavItem_btn href="http://yamazakim.github.io/WarrenWorkshop2016/contacts">
                   <span class="globalNavItem_text">CONTACTS</span>
                  </a>
                 </div>
              </li>
            </ul>
      </div>
   </nav>
   
  <div class="topMainVis">
       <div class="topMainVis_inner">
            <a id="forkme_banner" href="https://github.com/yamazakiM/WarrenWorkshop2016">View on GitHub</a>
            <h1 id="project_title">Warren Workshop 2016</h1>
       </div>
</div>
