/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-width:640px;
  background:#fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:#222222;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #fff;
  text-shadow:1px 1px 1px #787878;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  max-width: 739px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: 1px solid #ebebeb;

  box-shadow: 0 0 5px #ebebeb;
  -webkit-box-shadow: 0 0 5px #ebebeb;
  -moz-box-shadow: 0 0 5px #ebebeb;
  -o-box-shadow: 0 0 5px #ebebeb;
  -ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 10px 1px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #fff;
  height:100%;
  padding-top:5px;
}

#main_content {
  padding-top: 20px;
  background:#fff;
}

#footer_wrap {
  background: #f2f1ef;
  height:75px;
  min-width:640px;
  overflow:hidden;
  position:absolute;
  width:100%;
  margin-top:50px;
  border-top:2px solid #ddd;
  bottom:0;
  left:0;
}

html {
  position: relative;
  min-height: 100%;
}

#content_outer{
  height:100%;
  margin-bottom:100px;
}

#title{
  width:100%;
  text-align:center;
  vertical-align:center;
}

.globalNav{
  position:fixed;
  width:100%;
  height:35px;
  top:0;
  left:0;
  color:#787878;
  background:#F2F1EF;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.25);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
  overflow:visible;
  z-index:2000;
}

@media (max-width: 639px) {
    .globalNav {
        position: absolute;
        width: 640px;
    }
}

.globalNav_inner {
    position: relative;
    width: 640px;
    height: 35px;
    margin: 0 auto;
}

.globalNav_ul {
    display: table;
    width: 80%;
    height: 35px;
    float: left;
    table-layout: fixed;
    overflow: visible;
    margin: 0 100px 0 100px;
}

.globalNavItem {
    display: table-cell;
    height: 35px;
    list-style: none;
}

.globalNavItem_group {
    position: relative;
    height: 35px;
}

.globalNavItem_btn {
    border-bottom: 2px solid #eee;
    color: #787878;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 33px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}

.globalNavItem_btn:after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.globalNavItem_btn:hover, .globalNavItem_btn:focus {
    text-decoration: none;
    color: #5f9ea0;
    background: #fbfaf8;
    border-color: #5f9ea0;
}

.globalNavItem_text {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    text-shadow: 1px 1px 1px #fff;
    white-space: normal;
    padding: 0 1px;
}

.globalNavItem_sub {
    display: none;
    position: absolute;
    width: 170px;
    left: 0;
    top: 45px;
    margin: 0;
    padding: 0;
    background: #F2F1EF;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25);
    border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 12px;
    font-weight: bold;
}

.globalNavItem_sub > li {
    display: block;
    list-style: none;
    border-bottom: #ccc;
}

.globalNavItem_sub > li > a {
    color: #787878;
    display: table-cell;
    width: 150px;
    text-align: left;
    padding: 10px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    border-bottom: solid 1px #ccc;
    white-space: normal;
    line-height: 1.1;
    font-weight: bold;
}

.globalNavItem_sub > li > a:hover, .globalNavItem_sub > li > a:focus {
    background: #fbfaf8;
    color: #660098;
}

globalNavItem_btn-pulldown {
    position: relative;
    padding: 0 15px 0 0;
    height: 45px;
    box-sizing: border-box;
}

.globalNavItem_btn-pulldown > .globalNavItem_text {
    padding: 0 0 0 0;
}

.globalNavItem_btn-pulldown > .globalNavItem_text:after {
    content: '\203a';
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 13px;
    vertical-align: middle;
    padding: 0 0 15px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.topMainVis {
    position: relative;
    margin: 5px 0 0;
    height: 160px;
    background-color:#87d8d3;
    background-image:linear-gradient(180deg, #f8f8f8, #7fffd8, #87d8d3);
    overflow: hidden;
    clear: both;
    margin-top:34px;
    box-shadow:0 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.topMainVis_inner {
    position: relative;
    width: 940px;
    height: 100%;
    margin: 0 auto;
    background-size: 223px auto;
    text-align:center;
    z-index: 200;
    margin-top:30px;
}

footer{
  text-shadow:1px 3px 3px #000;
  width:640px;
  position:relative;
  height:75px;
  bottom:0;
  text-align:center;
  padding-top:10px;
  text-shadow:1px 0 0 #fff;
  font-size:13px;
  font-weight:bold;
}

footer ul{
  list-style:none;
  color:#787878;
}

#main-content{
  background-color:#fff;
  margin-bottom:100px;
}

.ggmap {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

img.contact{
  display:block;
  top:15px;
  box-shadow:none;
}

#project_theme{
  color:#fff;
  font-size:22px;
  text-shadow:1px 1px 6px #111;
  font-weight:100;
}


/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}
